body {
  margin: 0;
  text-align: center;
  font-family: "Merriweather", serif;
  /* font-size: 200%; */
}

h1 {
  font-family: "Sacramento", cursive;
  margin-top: 50px auto 0 auto;
  font-size: 5.625rem;
  line-height: 25px;
  color: #66bfbf;
}

h2 {
  font-family: "Montserrat", sans-serif;
  font-size: 2.5rem;
  font-weight: normal;
  color: #11999e;
  padding-bottom: 10px;
}

h3 {
  font-family: "Montserrat", sans-serif;
  color: #11999e;
}
.first {
  background-color: #bfeaf5;
  position: relative;
  padding: 100px;
  color: #eaf6f6;
}

.bottom-cloud {
  position: absolute;
  bottom: 400px;
  left: 300px;
}
.pro {
  text-decoration: underline;
}
.top-cloud {
  position: absolute;
  right: 300px;
  top: 50px;
}
a {
  color: #11999e;
  font-family: "Montserrat", sans-serif;
  margin: 10px 20px;
  text-decoration: none;
}
a:hover {
  color: #eaf6f6;
}
.skill-row {
  width: 50%;
  margin: 100px auto;
  text-align: left;
  /* line-height: 2; */
}
.design {
  float: left;
  padding-right: 30px;
}
.wings {
  float: right;
  padding-left: 30px;
}
.middle-container {
  margin: 100px 0;
}
.intro {
  width: 30%;
  margin: auto;
}
p {
  line-height: 2;
}
hr {
  border: dotted #eaf6f6 6px;
  border-bottom: none;
  width: 4%;
  margin: 70px auto;
}
.btn {
  background: #11cdd4;
  background-image: -webkit-linear-gradient(top, #11cdd4, #11999e);
  background-image: -moz-linear-gradient(top, #11cdd4, #11999e);
  background-image: -ms-linear-gradient(top, #11cdd4, #11999e);
  background-image: -o-linear-gradient(top, #11cdd4, #11999e);
  background-image: linear-gradient(to bottom, #11cdd4, #11999e);
  -webkit-border-radius: 8;
  -moz-border-radius: 8;
  border-radius: 8px;
  font-family: "Montserrat", sans-serif;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.btn:hover {
  background: #3cb0fd;
  background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
  background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
  text-decoration: none;
}
.bottom-container {
  background-color: #66bfbf;
  padding: 50px 0 20px;
}
.copy {
  color: #eaf6f6;
  font-size: 0.75rem;
  padding: 20px 0;
}
